<%- include('../components/header.ejs') %>
    <%- include('../components/section_header.ejs') %>
    <%- include('../components/section_tabs.ejs') %>
    <style>
        .am-modal-bd{
            text-align: left;
        }
        .banner_pic{
            width: 100px;
            height: 45px;
        }
        .tpl-table-line-img{
            width: 50px;
            height: 30px;
        }
        .gradeX.even td{
            background: #fff!important;
        }
        .group_select{
            width: 180px;
            height: 32px;
            border-color: #e4e4e4;
            border-radius: 4px;
            padding: 2px 5px;
        }
    </style>
<div class="wrap">
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 商城轮播图
                </div>
            </div>
                <div class="widget-body">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a href="./add_product" type="button" class="am-btn am-btn-success"><span class="am-icon-plus"></span>新增</a>
                                    <a href="javascript:void(0);" type="button" class="am-btn am-btn-danger" @click="delGroup"><span class="am-icon-del"></span>删除</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                        <div class="am-form-group tpl-table-list-select">
                            <select class="group_select" v-model="sort">
                                <option value=''>全部</option>
                                <option :value="item.id" v-for="item in sorts">{{item.sort_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" @click="checkAll(event)" class="check_all"> 全选</th>
                                    <th>缩略图</th>
                                    <th>分类</th>
                                    <th>标题</th>
                                    <th>价格</th>
                                    <th>库存</th>
                                    <th>推荐首页</th>
                                    <th>状态</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="gradeX" v-for="(product,index) in products" :class="{'even':index%2==1}">
                                    <td><input type="checkbox" name="selectors" v-model="checkData" :value="product.id"></td>
                                    <td>
                                        <img :src="imgUrl+product.banner_images[0]" class="tpl-table-line-img" alt="">
                                    </td>
                                    <td class="am-text-middle">{{product.sort_name}}</td>
                                    <td class="am-text-middle">{{product.name}}</td>
                                    <td class="am-text-middle">{{product.price}}</td>
                                    <td class="am-text-middle">{{product.stock}}</td>
                                    <!-- <td class="am-text-middle">{{product.recommend==2?'不推荐':"推荐"}}</td> -->
                                    <td class="am-text-middle">
                                        <div class="tpl-switch" @click="updateRecommend(product.id,product.recommend)">
                                            <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" v-if="product.recommend==1" checked="">
                                            <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" v-else >
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="am-text-middle">
                                        <div class="tpl-switch" @click="updateStatus(product.id,product.status)">
                                            <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" v-if="product.status==1" checked="">
                                            <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" v-else >
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="am-text-middle">{{product.create_time}}</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a :href="'./add_product?id='+product.id">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a href="javascript:void(0);" class="tpl-table-black-operation-del" @click="del_product(product.id)">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                        <div id="paginations" class="am-pagination-right pagination">
                        </div>
                    </div>
                </div>
            </div>
</div>
<%- include('../components/footer.ejs') %>
<script>
    new Vue({
        el:'.wrap',
        data:{
            imgUrl:imgUrl,
            page:1,
            sorts:[],
            checkData:[],
            sort:'',
            limit:10,
            products:[],
            status:'',
            recommend:''
        },
        created(){
            this.getProducts();
            this.getSorts();
        },
        watch:{
            page(){
                this.getProducts();
            },
            sort(){
                this.getProducts();
            },
            checkData:{
                handler(){
                    if(this.checkData.length==this.products.length){
                        document.querySelector('.check_all').checked = true;
                    }else{
                        document.querySelector('.check_all').checked = false;
                    }
                },
                deep:true
            }
        },
        methods:{
            getProducts(){
                let that=this;
                $.ajax({
                    url:getUrl+'/products',
                    type:'get',
                    data:{
                        page:that.page,
                        limit:that.limit,
                        sort:that.sort
                    },
                    success:function(res){
                        if(res.status==2){
                           let shops=res.data.shops;
                           that.products=shops;
                           that.maxPages=res.data.totalPages || 1; 
                           $('#paginations').jqPaginator({
                                totalPages: that.maxPages,
                                visiblePages: 5,
                                currentPage: that.page,
                                prev:'<li class="prev"><a href="javascript:;">上一页</a></li>',
                                next:'<li class="next"><a href="javascript:;">下一页</a></li>',
                                page: `<li class="page"><a href="javascript:;">{{page}}</a></li>`,
                                onPageChange: function (num) {
                                    that.page=num;
                                }
                            })
                        }else{
                            alertModel(res.data);
                        }
                    }
                })
            },
            getSorts(){
                let that=this;
                $.ajax({
                    url:getUrl+'/get_sorts',
                    type:'get',
                    success:function(res){
                        if(res.status==2){
                            that.sorts=res.data.info;
                        }else{
                            alertModel(res.data);
                        }
                    }
                })
            },
            del_product(id){
                let that=this;
                $.ajax({
                    url:getUrl+'/del_product',
                    type:'post',
                    data:{
                        id:id
                    },
                    success:function(res){
                        alertModel(res.data);
                        that.getProducts();
                    }
                });
            },
            checkAll(e){
                if(e.target.checked){
                    this.products.forEach((el,i)=>{
                        if(this.checkData.indexOf(el.id) == '-1'){ 
                            this.checkData.push(el.id);
                        }
                    });
                }else {
                    this.checkData = [];
                }
            },
            delGroup(){
              this.del_product(this.checkData);  
            },
            updateProduct(id){
                let that=this;
                let shop;
                $.ajax({
                    url:getUrl+'/product',
                    type:'get',
                    data:{
                        id:id
                    },
                    success:function(res){
                        if(res.status==2){
                            shop=res.data.shop;
                            if(that.recommend){
                                shop.recommend=that.recommend;
                            }
                            if(that.status){
                                shop.status=that.status;
                            }
                            $.ajax({
                                url:getUrl+'/add_product',
                                type:'post',
                                data:shop,
                                success:function(res){
                                    alertModel(res.data);
                                    that.getProducts();
                                }
                            })
                        }
                    }
                }); 
            },
            updateRecommend(id,ev){
                this.recommend=ev==1?2:1;
                this.updateProduct(id);
            },
            updateStatus(id,ev){
                this.status=ev==1?2:1;
                this.updateProduct(id);
            }
        }
    })
</script>